.hero-bg {
    background:
    linear-gradient(to right, rgba(0,0,0,0.55), rgba(0,0,0,0.15)), 
    url('/images/hero-bg/favicon.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 100%;
    max-width: var(--container-max);
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-surface);

    &__content {
        max-width: 740px;
    }

    &__title {
        margin-bottom: 24px;
        font-size: 74px;
        font-weight: 500;
        line-height: 1.1;
        letter-spacing: -0.02em;
    }

    &__desc {
        opacity: 0.85;
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 1.6;
    }
}

@media (max-width: 1024px) {
    .hero {
        &__title {
            font-size: 56px;
        }
    }
}

@media (max-width: 768px) {
    .hero {
        &__title {
            font-size: 40px;
            margin-bottom: 16px;
        }

        &__desc {
            font-size: 16px;
            margin-bottom: 32px;
        }
    }
}

@media (max-width: 480px) {
    .hero-bg {
        min-height: 0;
        height: 500px;
    }
    .hero {
        &__title {
            font-size: 32px;
        }

        &__desc {
            font-size: 14px;
        }
    }
}